*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222831;
}
.header{
    background-color: #393e46;
    display: flex;
    justify-content: center;
}

/* 393e46
00adb5
eeeeee
*/
.main{
    background-color: #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    row-gap: 50px;
}

.score{
    display: flex;
    gap: 50px;
    color: #00adb5;
}
.player-score,
.computer-score,
.draw{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.result{
    color: #00adb5;
}
.btn-container{
    display: flex;
    gap: 69px;
}
button{
    height: 150px;
    width: 150px;
    transition: 0.7s;
    background-color: #393e46;
    border: none;
}
img{
    width: 100%;
    height: 100%;
}
.restart-btn > img{
    width: 90%;
    height: 90%;
}
.rock:hover,
.paper:hover,
.scissor:hover{
    transform: scale(1.2);
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25%;
    box-shadow:15px 5px 5px #304154
    ;
}
.restart{
    width: 125px;
    height: 125px;
    background-color: aqua;
}

.restart-btn,
.shut-down-btn{
    display: none;
    transition: 0.7s;
}
.restart-btn:hover{
    background-color: green;
    transform: scale(1.2) rotate(360deg);
    border-radius: 25%;
    cursor: pointer;
}
.shut-down-btn:hover{
    background-color: red;
    transform: scale(1.2) rotate(360deg);
    border-radius: 25%;
    cursor: pointer;
}